.back-office {

    h1 {
        font-size: 2rem;
        font-family: montserratBold;
        margin: 1.5rem 0 1.25rem 0;
    }

      .back-office-table {
          border-collapse: collapse;
          overflow: hidden;
          border-radius: 8px;
          margin-block-end: 2rem;

          th {
              background-color: $primary;
              color: $clr6;
              font-family: openSansBold;
              padding: 1rem;
              text-align: start; 
          }

          td {
            padding:1.5rem;
            text-align: start; 
          }
      }

      tbody {

        &:nth-child(even) {
            background-color: #f1eeee;
        }

        button {
            
            &:first-child {
                margin-inline-end: 1rem;
            }
        }
      }
}
