.back-office-table {
    border: 1px solid black;
    margin: 0 auto;
    margin-bottom: 20px;
    border-spacing:0; 
    border-collapse: collapse; 
    // height: 200px;
    & th {
        border-right: 1px solid black;   
        padding: 5px;
    }
    & td {
        border-top: 1px solid black; 
        border-right: 1px solid black;
        padding: 10px;; 
        width: 150px;
        text-align: center;
    }
    & button {
        width: 100px;
       border-radius: 5px;
       margin: auto;
    //    display: flex;
       cursor: pointer;
      
    }
    & .approve-btn{
        margin-bottom: 5px;
    }
}