.hero {
  background-image: url("../assets/img/hero/forest-hero.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 90vh;

  .hero-txt {
    text-align: center;
    z-index: 1;
    
    &.head {
      font-family: montserratBold;
      font-size: rem(40px);;
      color: $clr6;
      margin-bottom: .5rem;
    }

    &.small {
      font-family: openSansReg;
      font-size: rem(24px);
      color: $clr6;
      margin-bottom: 1.5rem;
    }
  }
}

.home-page {

    h3 {
        font-size: rem(32px);
        font-family: montserratBold;
        margin-block-end: .75rem;
    }

    .trip-list, .guide-list {
        margin-block-end: 1rem;
    }

    .trips-by {
      margin-block-start: 3.5rem;
      margin-block-end: 1rem;
    }
}
