.hero {
  background-image: url("../assets/img/hero/forest-hero.jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 90vh;

  .hero-txt {
    text-align: center;
    z-index: 1;
    
    &.head {
      font-family: montserratBold;
      font-size: rem(48px);
      color: $clr6;
      margin-bottom: 1rem;
    }

    &.small {
      font-family: openSansReg;
      font-size: rem(24px);
      color: $clr6;
      margin-bottom: 1rem;
    }
  }
}

.home-page {

    h3 {
        font-size: rem(32px);
        font-family: montserratBold;
        margin-block-end: 1.25rem;
    }

    .trip-list, .guide-list {
        margin-bottom: 2rem;
    }

    button {
      margin-bottom: 2.5rem;
    }
}
