.trip-preview {
    width: 300px;
    height: 300px;
    border: 2px solid rgba(0, 0, 0, 0.376);
    border-radius: 10px;
    margin: 0 auto;
    cursor: pointer;
    
    & > * {
        margin: 0;
    }
}
.trip-preview-img {
     width: 215px;
     margin-top: 10px; 
     border-radius: 10px;
 }

.trip-preview-info {
    & > * {
        margin: 0;
        font-size: 16px;
        padding: 5px;
    }
}

.trip-preview-title {
    // margin-bottom: 10px;
    font-size: 20px;
}

.trip-preview-guide-details  > *, .trip-preview-trip-details > * {
margin: 0;
margin-bottom: 5px;
}