.preview-card {
  position: relative;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.24s ease-out;

  &:hover {
    transform: translateY(-3px);
    transform: scale(1.02);
  }

  h2 {
    font-size: em(21px);
  }

  h2,
  p {
    margin-bottom: 0.2em;
  }

  & .details {
    // padding: 0.6em 1em;
    width: 100%;

    display: inline-block;

    .price {
      font-size: em(20px);
    }

    hr {
      margin-top: 0;
      margin-bottom: .55rem;
      color: $clr5;
      opacity: .35;
    }

    .guide-info, .date {
      color: $clr4;

      .guide-img {
        margin-inline-end: 10px;
      }
    }
  }

  .trip-preview-img {
    border-radius: 15px;
    height: 200px;
  }

  .toggle-fav {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    display: inline-block;
    font-size: 1.85em;
  }

}
