.preview-card {
  position: relative;
  border-radius: 15px;
  box-shadow: 0 6px 10px clr5;
  cursor: pointer;
  transition: box-shadow 0.4s ease-in-out;

  &:hover {
    box-shadow: 0 6px 10px $clr4;
  }

  h2 {
    font-size: em(21px);
  }

  h2,
  p {
    margin-bottom: 0.5em;
  }

  & .details {
    padding: 0.6em 1em;
    width: 100%;

    display: inline-block;

    .price {
      font-size: em(20px);
    }

    hr {
      margin-top: 0;
    }

    .guide-info {
      color: $clr4;

      .guide-img {
        margin-inline-end: 10px;
      }
    }
  }

  .trip-preview-img {
    border-radius: 15px 15px 0 0;
  }

  .toggle-fav {
    position: absolute;
    top: 0.5rem;
    right: 0.75rem;
    display: inline-block;
    font-size: em(20px);
  }

}
