
.main-layout {
    display: grid;
    grid-template-columns: 
    minmax(2rem, 1fr)
    minmax(auto, 1300px)
    minmax(2rem, 1fr);

    > * {
        grid-column: 2;
    }

    > .full {
        grid-column: 1 / -1;
    }

    &#app {
        min-height: 100vh;
        width: 100vw;
        grid-template-rows: auto 1fr;
    }

}

.main-header, .hero {
    grid-row: 1;
}

.main-header {
    z-index: 2;
    max-height: 15vh;
}

.main-footer {
    max-height: 10vh;
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    gap: 2.5rem;
}

button {
    background-color: transparent;
    border: 1px solid $clr3;
    border-radius: 15px;
    padding: 10px 15px;
    margin: 10px;
    color: $clr3;
    font-family: openSansReg;
    font-size: rem(16px);
    transition: all .4s ease-in-out;

    &:hover {
        background-color: $clr3;
        color: $clr6;
    }

    &:active {
        transform: translateY(2px);
    }

    a:active {
        color: $clr3;
    }
}

.profile-img-s {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    object-fit: cover;
}

.profile-img-m {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.profile-img-l {
    border-radius: 50%;
    height: 350px;
    width: 350px;
    object-fit: cover;
    margin: 1em;
}