
.main-header {
    padding: .5rem 0 .5rem;
    color: $clr6;

    &.dark {
        background-color: $secondary;
        .logo, a {
            color: $clr3;
        }
    }
}

.logo { 
    text-decoration: none;
    display: inline-block;
    
    & h2 {
        color: $clr6;
        font-family: montserratBold;
        font-size: rem(36px);
        margin: 1rem 0 1rem;
    }
}

.nav-bar {

    & a {
        color: $clr6;
        font-size: em(20px);
        margin: 1rem .5rem 1rem 0;
        transition: all .4s ease-in-out;

        &:not(:last-child):after {
            content: "•" ;
            margin-inline-start: .5rem;
        }

        &:last-child {
            margin-inline-end: 0;
        }

        &:hover {
            border-bottom: 2px solid $clr6;
        }
    }

}


