.main-header {
    // background-color: aquamarine;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-bar a{
    text-decoration: none;
    color: black;
    font-family: PerMark;
    font-size: 24px;
}

.logo-container a {
    text-decoration: none;
}

.logo-container .logo {
    font-family: PerMark;
    font-size: 36px; 
    text-decoration: none;
    color: black;

}
