
.main-header {
    padding: .5em 0;
}

.logo { 
    text-decoration: none;
    display: inline-block;
    
    & h2 {
        color: $clr3;
        font-family: PerMark;
        font-size: em(36px);
        margin: 1rem 0 1rem;
    }
}

.nav-bar {

    & a {
        color: $clr3;
        font-size: em(20px);
        margin: 1rem .5rem 1rem;

        &:last-child {
            margin-inline-end: 0;
        }
    }

}


