.alert {
    color:black;
    padding: 10px;
    font-size: 1.4em;
    position: fixed;
    top: 1em;
    right: 1em;
    background-color: grey;
    border-radius: 10px;
    z-index: 2;
}

.alert-success {
    background-color: lightblue
}
.alert-danger {
    background-color: rgb(122, 11, 11);
}
