* {
    box-sizing: border-box;
}


body {
    margin: auto;
    // padding: 5px;
    font-family: Mukta;
    line-height: 1.25;
    // background-color: blue;
    // background: url('~@/assets/img/back1.jpeg');
    max-width: 1300px;
}

li {
    list-style: none;
}

