@font-face {
    font-family: PerMark;
    src: url(~@/assets/fonts/PermanentMarker-Regular.ttf);
}
@font-face {
    font-family: Schoolbell;
    src: url(~@/assets/fonts/Schoolbell-Regular.ttf);
}

// @font-face {
//     font-family: Kaushan;
//     src: url(~@/assets/fonts/KaushanScript-Regular.ttf);
// }
// @font-face {
//     font-family: Caveat;
//     src: url(~@/assets/fonts/CaveatBrush-Regular.ttf);
// }
// @font-face {
//     font-family: Mansalva;
//     src: url(~@/assets/fonts/Mansalva-Regular.ttf);
// }