@font-face {
    font-family: PerMark;
    src: url(~@/assets/fonts/PermanentMarker-Regular.ttf);
}

@font-face {
    font-family: openSansReg;
    src: url(~@/assets/fonts/Open_Sans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: openSansBold;
    src: url(~@/assets/fonts/Open_Sans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: openSansLight;
    src: url(~@/assets/fonts/Open_Sans/OpenSans-Light.ttf);
}

@font-face {
    font-family: Mukta;
    src: url(~@/assets/fonts/Mukta-Regular.ttf);
}
